@keyframes expand {
    0% {
        scale: 1;
        border: var(--color-black) 2px solid;
        opacity: 1;
    }
    
    100% {
        scale: 1.2;
        border: var(--color-black) 0.5px solid;
    }
}


@keyframes parade {
    0% {
        transform: translate(0);
    }

    100% {
        transform: translate(-25%);
    }
}

@keyframes parade-reversed {
    0% {
        transform: translate(0);
    }

    100% {
        transform: translate(25%);
    }
}

@keyframes scaling {
    0% {
        scale: 1;
    }

    100% {
        scale: 1.2;
    }
}

@keyframes openingsection {
    0% {
        height: var(--spacing-48);
    }

    100% {
        height: var(--spacing-128);
    }
}

@keyframes slidein {
    0% {
        transform: translateY(-8em);
    }

    100% {
        transform: translateY(0); 
    }
}