.publications {
    margin-top: 8em;
    display: flex;
    flex-direction: column;
    place-items: center;

    
    a {
        margin-top: 2em;
        border: var(--border);
        text-align: center;
        display: flex;
        justify-content: center;
        align-content: center;
        font-family: var(--font-family-mono);
        width: 8em;
        padding: 0.5em;
    }

    h1 {
        text-align: center;
    }
}

.intro {
    border-bottom: var(--border);
}

section {
    border-left: var(--border);
    border-right: var(--border);
    padding: 1em;

}