<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DDA alle publicaties</title>

    <link rel="stylesheet" href="/styles/stylesheet.css">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/animations.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Martian+Mono:wght@100..800&display=swap" rel="stylesheet">




</head>
<body>
    
<header class="desktop-header">
  <div class="header-logo">
     <img src="https://dutchdigitalagencies.com/_astro/logo.CO-nlMzN.svg" width="128px">
  </div>

  <div class="navigation-bar">
    <a href="/ohoh">Over ons</a>
    <a href="#">Events</a>
    <a href="#">Publicaties</a>
    <a href="#">Leden</a>
    <a href="#">Vacatures <span>175</span></a>
  </div>

  <div class="login">
    <a href="#" class="fas fa-user"></a>
    <a href="#" class="fa-solid fa-bell"></a>
  </div>
</header>

<header class="mobile-header">
  <div class="header-logo">
    <img src="https://dutchdigitalagencies.com/_astro/logo.CO-nlMzN.svg" width="128px">
 </div>

 <select>
  <option class="active">Publications</option>
  <option href="#">Over Ons</option>
  <option href="#">Events</option>
  <option href="#">Leden</option>
  <option href="#">Vacatures</option>
 </select>

</header>

