{% include 'views/head.liquid', title: 'DDA Publicaties' %}

<section class="publications">
    <a href="/"> Ga terug </a>
    {% comment %} hier moet nog een app.get komen {% endcomment %}
    <h1> {{ publicationz.title  }} </h1>
        <p>Om er voor te zorgen dat ook jij op de hoogte blijft van het laatste nieuws en interessante opinies met betrekking tot onze branche en digitale innovaties, delen we hier alle content die we of zelf hebben gecreëerd, bijvoorbeeld met input van onze leden, of verkregen hebben via één van onze partners.</p>
    </section>

    <section class="intro">
    <p>{{ publicationz.intro }}</p>
    </section>

    <section class="photo">
        <img src="https://fdnd-agency.directus.app/assets/{{ publication.photo }}"  width="1000px">
    </section>

    <section class="content">

    {{ publicationz.content }}

    </section>

    <section class="comment">
        

    </section>

    <section class="type">

    <form class="form-element">
        <label for="name">Jouw naam</label>
        <input type="text" name="name" id="name" required/>

        <label for="emoji">Emoji</label>
        <select name="emoji" id="emojis" required>
            <option value="smile"> <img class="fa-solid fa-face-smile"></i> </option>
            <option value="tired"> <i class="fa-solid fa-face-tired"></i> </option>
            <option value="surprise"> <i ></i> </option>
            <option value="cry"> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M352 493.4c-29.6 12-62.1 18.6-96 18.6s-66.4-6.6-96-18.6L160 288c0-8.8-7.2-16-16-16s-16 7.2-16 16l0 189.8C51.5 433.5 0 350.8 0 256C0 114.6 114.6 0 256 0S512 114.6 512 256c0 94.8-51.5 177.5-128 221.8L384 288c0-8.8-7.2-16-16-16s-16 7.2-16 16l0 205.4zM195.2 233.6c5.3 7.1 15.3 8.5 22.4 3.2s8.5-15.3 3.2-22.4c-30.4-40.5-91.2-40.5-121.6 0c-5.3 7.1-3.9 17.1 3.2 22.4s17.1 3.9 22.4-3.2c17.6-23.5 52.8-23.5 70.4 0zm121.6 0c17.6-23.5 52.8-23.5 70.4 0c5.3 7.1 15.3 8.5 22.4 3.2s8.5-15.3 3.2-22.4c-30.4-40.5-91.2-40.5-121.6 0c-5.3 7.1-3.9 17.1 3.2 22.4s17.1 3.9 22.4-3.2zM208 336l0 32c0 26.5 21.5 48 48 48s48-21.5 48-48l0-32c0-26.5-21.5-48-48-48s-48 21.5-48 48z"/></svg> </option>
          </select>

        {% comment %} hier kan je je bericht typen {% endcomment %}
        <textarea for="message" rows="5" cols="15" required>Typ hier jouw bericht</textarea>

        <button>plaats</button>
    </form>

    </section>

{% include 'views/footer.liquid' %}