{% include 'views/head.liquid', title: 'DDA Publicaties' %}

<section class="publications">
    <a href="/"> Ga terug </a>
    {% comment %} hier moet nog een app.get komen {% endcomment %}
    <h1> {{ publicationz.title  }} </h1>
        <p>Om er voor te zorgen dat ook jij op de hoogte blijft van het laatste nieuws en interessante opinies met betrekking tot onze branche en digitale innovaties, delen we hier alle content die we of zelf hebben gecreëerd, bijvoorbeeld met input van onze leden, of verkregen hebben via één van onze partners.</p>
    </section>

    <section class="intro">
    <p>{{ publicationz.intro }}</p>
    </section>

    <section class="photo">
        <img src="https://fdnd-agency.directus.app/assets/{{ publication.photo }}"  width="1000px">
    </section>

    <section class="content">

    {{ publicationz.content }}

    </section>

    <section class="comment">
        

    </section>

    <section class="type">

    <form class="form-element">
        <label for="name">Jouw naam</label>
        <input type="text" name="name" id="name" required/>

        <label for="emoji">Emoji</label>
        <select name="emoji" id="emojis">
            <option value="smile"> <i class="fa-solid fa-face-smile"></i> </option>
            <option value="tired"> <i class="fa-solid fa-face-tired"></i> </option>
            <option value="surprise"> <i class="fa-solid fa-face-surprise"></i> </option>
            <option value="cry"><i class="fa-solid fa-face-sad-cry"></i></option>
          </select>
        {% comment %} hier kan je je bericht typen {% endcomment %}
        <textarea for="message" rows="5" cols="15">Typ hier jouw bericht</textarea>
    </form>

    </section>

{% include 'views/footer.liquid' %}